
body {
  color: black;
  font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  /* background-color: white; */
}

main {
  width: 90%;
  max-width: 1080px;
  padding: 50px 0 0;
  margin: 0 auto;
}

p {
  font-size: 1em;
  line-height: 1.5;
}